
@font-face{
	src:url(../fonts/Brandon_bld.otf);
	font-family:Brandon_bld ;
}

@font-face{
	src:url(../fonts/Brandon_light.otf);
	font-family:Brandon_light ;
}

@font-face{
	src:url(../fonts/Brandon_med.otf);
	font-family:Brandon_med ;
}

@font-face{
	src:url(../fonts/Brandon_reg.otf);
	font-family:Brandon_reg ;
}

body{
	font-family:Brandon_reg;
	font-size:18px;
	color: #777777;
	margin:0;
	padding:0;
}

/*---------header start--------*/

.fullscreen-banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
header{}
.wrapper{
	width:80%;
	margin:0 auto;
	overflow:hidden;
	/*border:1px solid red;*/
}

.logo{
	width:16%;
	float:left;
	margin-top:22px;
}
.logo img{
	width:100%;
}
.menu{
	width:45%;
	float:right;
	margin-top:12px ;
}
.menu ul{
	float:right;
}
.menu ul li{
	list-style: none;
	float:left;
}
.menu ul li a{
   	font-family:Brandon_med;
   	font-weight:500;
  	font-size:20px;
  	color:#c4c3ca;
	text-decoration: none;
	margin: 0 14px;
	transition: .3s;
	}

.menu ul li a:hover{
	color:white;
}

.menu ul li:last-child a{
	margin-right: 0;
}

/*---------header end--------*/	

/*--------banner start--------*/

.banner{
}
.banner-content{
	/*border:1px solid red;*/
	text-align: center;
	line-height:25px;
	padding: 200px 0 170px;
}
.banner-content h5{
	font-family:Brandon_light;
   	font-weight:300;
  	font-size:25px;
  	color:#c6c5cd;
}
.banner-content h1{
	font-family:Brandon_bld;
   	font-weight:700;
  	font-size:55px;
  	color:#ffffff;
  	text-transform: uppercase;
}
.banner-content button{
	width:170px;
	height: 45px;
	font-family:Brandon_bld;
   	font-weight:500;
  	font-size:16px;
  	color:#ffffff;
  	background-color: transparent;
	border:2px solid #ffffff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s;
}

.banner-content button:hover{
	background-color:#c4c3ca;
}

.banner-content button:focus{
	outline: 0;
}

/*---------banner end--------*/	

/*--------web development start---------*/

.web{
	background-color:#ffffff; 
	overflow: hidden;
	padding-top: 20px;
	padding-bottom:70px;
}

.web-content{
	width:68%;
	float:left;
	/*border:1px solid red;*/
}
.web-content h1{
	font-family:Brandon_light ;
	font-weight:300 ;
	font-size:58px ;
	color: #313131;
	margin-bottom:35px;
}
.web-content h1 span{
	font-family:Brandon_bld;
	font-weight:700 ;
	font-size:58px ;
	color: #222222;
}
.web-content p{}
.tree-icon{
	width:20%;
	float:right;
	padding-top:75px;
}
.tree-icon img{
	width:100%;
}

/*--------web development end---------*/

/*--------identity branding start---------*/

.identity{
	background-color:#fafafa; 
	overflow: hidden;
	padding-top: 20px;
	padding-bottom:70px;
}
.identity-content{
	width:68%;
	float:right;
	/*border:1px solid red;*/
}
.identity-content h1{
	font-family:Brandon_light ;
	font-weight:300 ;
	font-size:58px ;
	color: #313131;
	margin-bottom:35px;
}
.identity-content h1 span{
	font-family:Brandon_bld;
	font-weight:700 ;
	font-size:58px ;
	color: #222222;
}
.identity-content p{}
.users-icon{
	width:21%;
	float:left;
	padding-top:82px;
}
.users-icon img{
	width:100%;
}

/*--------identity branding end---------*/

/*--------service list start---------*/

.service{
	background-color:#ffffff; 
	padding:70px 0;
}
.service-left{
	width:47%;
	float: left;
	/*border:1px solid red;*/
}
.service-box{
	overflow: hidden;
	/*border:1px solid red;*/
}
.icon-box{
	width:15%;
	float: left;
	padding-top:21px;
}
.icon-box img{
	width: 100%;
}
.text-box{
	width:75%;
	float: left;
	padding-left:22px;
}
.text-box h2{
	font-family:Brandon_med;
	font-weight:500 ;
	font-size:22px ;
	color: #222222;
	margin-bottom:10px;
}
.text-box p{
	line-height:24px;
	margin-top:2px;
}
.service-right{
	width:47%;
	float: right;
	/*border:1px solid red;*/
}

/*--------service list end---------*/

/*--------awesome clients start---------*/

.awesome-clients{
	background-color:#fafafa;
	padding-bottom:70px 0;
}
.client-title{
	text-align: center;
	padding:50px 0 40px;
	line-height: 10px;
}
.client-title h1{
	font-family:Brandon_light ;
	font-weight:300 ;
	font-size:58px ;
	color: #313131;
	margin-bottom:35px;
}
.client-title h1 span{
	font-family:Brandon_bld;
	font-weight:700 ;
	font-size:58px ;
	color: #222222;
}
.client-title p{}
/*-------- client1 start---------*/
.client-review1{
	overflow: hidden;
	padding-bottom:50px;
}
.client-pic1{
	width:20%;
	float:left;
}
.client-pic1 img{
	width:100%;
	border:6px solid #ffffff;
	border-radius: 50%;
}
.client-writeup1{
	width:75%;
	float:right;
	text-align: justify;
	line-height:26px;
}
.client-writeup1 p{
	font-size:22px ;
	margin-bottom:5px;
	/*padding-top:15px;*/
}
.client-writeup1 span{
	color: #7690c5;
	padding-bottom:35px;
}
#talkbubble1 {
    width: 680px;
    height: 130px;
    padding: 20px 90px;
    margin-top:40px;
    background: #ffffff;
    position: relative;
 }
#talkbubble1:before {
	content: "";
    position: absolute;
    right: 100%;
    top: 80px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 25px solid #ffffff;
    border-bottom: 12px solid transparent;
}
/*-------- client1 end---------*/
/*-------- client2 start---------*/

.client-review2{
	overflow: hidden;
	padding-bottom:70px;
}
.client-pic2{
	width:20%;
	float:right;
	margin-right:10px;
}
.client-pic2 img{
	width:100%;
	border:6px solid #ffffff;
	border-radius: 50%;
}
.client-writeup2{
	width:75%;
	float:left;
	text-align: justify;
	line-height:26px;
}
.client-writeup2 p{
	font-size:22px ;
	margin-bottom:5px;
}
.client-writeup2 span{
	color: #7690c5;
	padding-bottom:35px;
}
#talkbubble2 {
    width: 680px;
    height: 130px;
    padding: 20px 90px;
    margin-top:40px;
    margin-left:100px;
    background: #ffffff;
    position: relative;
}
#talkbubble2:before {
	content: "";
    position: absolute;
    left: 100%;
    top: 80px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 25px solid #ffffff;
    border-bottom: 12px solid transparent;
}

/*-------- client2 end---------*/

/*--------awesome clients end---------*/

/*--------m_place start---------*/

.m_place{
	padding:40px 0;
	text-align:center;
}
.m_place ul{}
.m_place ul li{
	display: inline;
	list-style: none;
	margin:0 40px;
}
.m_place ul li img{
 	width:12%;
}

/*--------m_place end---------*/

/*--------team start---------*/

.team{
	background-color: #111111;
	overflow: hidden;
	padding:70px 0 40px;
}
.amz_team{
	text-align: center;
	line-height:2px;
	padding-bottom:40px;
}
.amz_team h1{
	font-family:Brandon_light ;
	font-weight:300 ;
	font-size:58px ;
	color: #ffffff;
}
.amz_team h1 span{
	font-family:Brandon_bld;
	font-weight:700 ;
	font-size:58px ;
	color: #ffffff;
}
.amz_team p{
	font-size:20px ;
}
.team-mate{
	text-align: center;
}

/*--------mate1 start---------*/
.mate1-des{
	width: 33.33%;
	float: left;
}
.mate2-des{
	width: 33.33%;
	float: left;
}
.mate3-des{
	width: 33.33%;
	float: right;
}
.mate1{
	line-height: 10px;
}
.mate1 img{
	width: 70%;
	border-radius:50%;
	border:6px solid #ffffff;
}
.mate1 h3{
	font-family:Brandon_bld;
   font-weight:700;
  	font-size:18px;
  	color:#ffffff;
}
.mate1 p{
	font-size:16px ;
	color: #cecece;
}
.team-icon{
	padding-bottom: 40px;
}
.team-icon ul{
	margin: 10px 0 0;
	padding: 0;
}
.team-icon ul li{
	list-style: none;
	display: inline-block;
}
.team-icon ul li a{}
.team-icon ul li a i{
	width:40px;
	height: 40px;
	border: 4px solid white;
   color: white;
   border-radius:50%;
   margin: 0 5px;
   font-size: 35px;
   line-height: 41px;
   transition: .8s;
 }
.team-icon ul li a i:hover{
	background-color: #cecece;
	color: black;
}
/*--------mate1 end---------*/

/*--------bottom des start---------*/

.hello{
	padding:60px 0;
}
.description{
	width:60%;
	text-align: center;
	padding:0 260px 60px;
}
.description p{
	font-size:20px ;
	color: #cecece;
}	

/*--------bottom des end---------*/

/*--------team end---------*/

/*--------hello start---------*/

.hello{
	background-color:#7690c5; 
}
.hello-left{
	width:58%;
	float:left;
}
.hello-head{
	line-height:24px;
}
.hello-head h1{
	font-family:Brandon_light ;
	font-weight:300 ;
	font-size:58px ;
	color: #ffffff;
	margin-bottom:35px;
}
.hello-head h1 span{
	font-family:Brandon_bld;
	font-weight:700 ;
	font-size:58px ;
	color: #ffffff;
}
.hello-head p{
	color:#ffffff;
}
.hello-left td{
	color:#ffffff;
	padding:10px 10px 0;
	line-height:45px;
	word-spacing: 15px;
}
.hello-right{
	width:42%;
	float: right;
	margin-top:60px;
	padding-bottom:30px;
}
form{}
form input{
	width:80%;
	padding:10px 60px 10px 20px;
	font-family:Brandon_med;
	font-weight:500 ;
	font-size:18px ;
	color: #bbbbbb;
	border:none;
	border-radius:2px;
	margin-bottom: 25px;
}
form textarea{
	width:80%;
	padding:10px 60px 80px 20px;
	font-family:Brandon_med;
	font-weight:500 ;
	font-size:18px ;
	color: #bbbbbb;
	border:none;
	border-radius:2px;
	margin-bottom:30px;
}

/*--------hello end---------*/

/*--------footer start---------*/
footer{
	background-color: #7690c5;
	padding:30px 0;
	border-top:1px solid #87a0d2;
}
footer p{
	color:#ffffff;
	text-align: center;
}

/*--------footer end---------*/
	